@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --black: #272a31;
    --grey: #d3d3d3;
    --orange: #ec5242;

    --container-mobile: 90%;
    --container-desktop: 75%;
    --container-full: 100%;
}

html {
    scroll-behavior: smooth;
}

header nav {
    display: none;
}

/*
HEADLINE
*/

.headline {
    background-image: url(images/headline-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom center; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.primary-intro {
    color: var(--orange);
    font-size: 1.5rem;
    font-weight: 500;
}

.primary-h1 {
    font-size: 2rem;
    margin-top: 0.3rem;
    font-weight: 900;
    background-image: linear-gradient(to top right, black, blue, purple, gold, black, violet);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondary-text {
    margin-top: 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.date-box {
    margin-top: 2.5rem;
}

.date {
    font-size: 1.7rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.6);
}

.venue {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0.5rem;
    font-weight: 600;
}

/*
PROGRAM SECTION
*/

.main-program {
    background-image: url(images/main-program.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.section-header {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 1rem;
}

.section-header::after {
    content: "";
    background-color: var(--orange);
    width: 4rem;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
}

.program-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-li {
    display: flex;
    padding: 1rem;
    width: 92%;
    align-items: center;
    margin: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.program-title {
    flex: 2;
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-weight: 900;
    color: var(--orange);
}

.program-list-item-img {
    width: 2rem;
    height: 2rem;
    flex: 1;
}

.program-desc {
    flex: 5;
}

.join-btn {
    width: 70%;
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--orange);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

/*
SPEAKERS SECTION
*/

.featured-speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.speakers-section-header {
    color: rgba(0, 0, 0, 0.6);
}

/* .brand {
    font-size: 2rem;
    background-color: red;
    background-image: linear-gradient(to top right, black, blue, purple, gold, black, violet);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


